 .row1{

    width: 100%;
    height: 1000px;
    background-image: url("images/bak.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    }
    
    .row{
        
        width: 1000px;
        height: 500px;
        position: relative; 
        background-color: rgba(230, 242, 245, 0.678); 
    }
    .col-lg-8{

        position: relative;
    }
.form-inline{
width: 500px;
height: 500px;
margin-left: 400px;

    }
    .formulaire{

width: 100%;
height: 700px;


    }
    .col-lg-6{
        width: 40%;
        height: 700px;
        
       
        
        } 

    .container{
     width:600px;
    height: 700px;

    }
    .button{
margin-top: 60px;


    }
    
   